// Section Header
.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  > * {
    font-size: 14px;
    text-align: center;
  }
  .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: flex;
    // font-size: 16px;
  }
}

// -----------------------------------------
// Items Lists
// -----------------------------------------

.items-list {
  --ah-chat-bg-top: rgba(249, 240, 219, 0.96);
  --ah-chat-bg-bottom: rgba(232, 219, 191, 0.94);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: $c-dark;
  background:
        linear-gradient(180deg, var(--ah-chat-bg-top), var(--ah-chat-bg-bottom)),
        repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.02) 0px, rgba(0, 0, 0, 0.02) 1px, rgba(255, 255, 255, 0.00) 3px, rgba(255, 255, 255, 0.00) 7px);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
  padding:  5px;
  border: 2px solid $c-red-border;
  border-radius: 5px;

  // Child lists
  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Item Name
  .item-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
    display: flex;
    h3, h4 {
      margin: 0;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }

  // Control Buttons
  .item-controls {
    display: flex;
    flex: 0 0 50px;
    justify-content: flex-end;
    a {
      font-size: 12px;
      text-align: center;
      margin: 0 6px;
    }
  }

  // Individual Item
  .item {
    align-items: center;
    padding: 0 2px; // to align with the header border
    border-bottom: 1px solid $c-faint;
    &:last-child { border-bottom: none; }
    .item-name {
      color: $c-dark;
      font-family: $font-tertiary;
      .item-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }
    }
  }

  .item-prop {
    text-align: center;
    //border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 12px;
    color: $c-dark;
    font-family: $font-tertiary;
  }

  // Section Header
  .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid black;
    font-weight: bold;
    > * {
      font-size: 12px;
      text-align: center;
    }
    .item-name {
      padding-left: 5px;
      text-align: left;
      // font-size: 16px;
    }
  }
}

// Example style for ArkhamHorror (can be removed if not needed).
.item-formula {
  
  flex: 0 0 200px;
  padding: 0 8px;
}