.photo-frame{
    background: url("../assets/images/photo-frame.webp");
    background-size: cover;
    flex: 0 0 120px;
    height: 150px;
    display: flex;
    align-items: center;   /* vertikal */
    justify-content: center; /* horizontal */
    overflow: hidden;      /* optional */
    img{
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        padding: 4px;
        border-radius: 25px;
        box-shadow: 0 0 20px 20px rgba(0,0,0,0.1) inset;
    }
}