$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #cbcac4;
$c-tan: #444;
$c-red: #722A1C;
$c-light-red: #2B100A;
$c-red-border:  #722A1C;

// Combat tracker highlight for investigators
$c-blue: #1C4A72;

$c-gradient-top: rgba(249, 240, 219, 0.96);
$c-gradient-bottom: rgba(232, 219, 191, 0.94);
