<form class="roll-dialog-container scrollable">
  <div class="form-group">
    <label>Roll Type</label>
    <select name="rollKind">
      <option value="injury" {{#if (eq rollKind "injury")}}selected{{/if}}>Injury</option>
      <option value="trauma" {{#if (eq rollKind "trauma")}}selected{{/if}}>Trauma</option>
    </select>
  </div>

  <div class="form-group">
    <label>Modifier</label>
    <input type="number" name="modifier" value="{{modifier}}" step="1" />
  </div>

  <p class="arkham-horror-hint">Total = 1d6 + modifier</p>

  <footer class="dialog-footer">
    <button type="button" class="roll-button" data-action="clickedRoll"><i class="fa-solid fa-dice"></i> Roll</button>
  </footer>
</form>
