<div class="">
    <input type="number" name="system.skills.{{skillKey}}.current" value="{{skillData.current}}" data-dtype="Number" title="Limit">
    <label class="skill clickable" data-action="clickSkill" data-skill-key="{{skillKey}}">{{label}}</label>
</div>