<div>
    <strong>{{localize "ARKHAM_HORROR.Chat.DicepoolDiscard.Label"}}</strong>: {{localize "ARKHAM_HORROR.Chat.DicepoolDiscard.Spent" actorName=actorName amount=amount discardedRegular=discardedRegular discardedHorror=discardedHorror oldDicePoolValue=oldDicePoolValue newDicePoolValue=newDicePoolValue}}
</div>