<div>
    <strong>{{label}}</strong>: {{localize "ARKHAM_HORROR.Chat.DicepoolReset.Changed" actorName=actorName oldDicePoolValue=oldDicePoolValue newDicePoolValue=newDicePoolValue}}
    {{#if healedDamage}}
        ({{localize "ARKHAM_HORROR.Chat.DicepoolReset.HealedDamage" healedDamage=healedDamage}})
    {{/if}}
</div>