<div>
    <strong>{{localize "ARKHAM_HORROR.Chat.SimpleAction.Label"}}</strong>: {{localize "ARKHAM_HORROR.Chat.SimpleAction.Spent" actorName=actorName amount=amount dieTypeLabel=dieTypeLabel oldDicePoolValue=oldDicePoolValue newDicePoolValue=newDicePoolValue}}
</div>
